# SOPS-encrypted secret template for Route53 DDNS
#
# Create encrypted secret:
#   1. Copy this template: cp 01-route53-secret.sops.yaml.template 01-route53-secret.sops.yaml
#   2. Edit with SOPS: sops 01-route53-secret.sops.yaml
#   3. Update AWS credentials in the editor
#   4. Save and commit (file is encrypted)
#
# Deploy encrypted secret:
#   sops -d 01-route53-secret.sops.yaml | kubectl apply -f -
#
---
apiVersion: v1
kind: Secret
metadata:
  name: route53-ddns-credentials
  namespace: route53-ddns
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: REPLACE_WITH_YOUR_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: REPLACE_WITH_YOUR_SECRET_ACCESS_KEY
