# SOPS-encrypted secret template for Technitium DNS
#
# Create encrypted secret:
#   1. Copy this template: cp 05-secret.sops.yaml.template 05-secret.sops.yaml
#   2. Edit with SOPS: sops 05-secret.sops.yaml
#   3. Set a secure admin password in the editor
#   4. Save and commit (file is encrypted)
#
# Deploy encrypted secret:
#   sops -d 05-secret.sops.yaml | kubectl apply -f -
#
apiVersion: v1
kind: Secret
metadata:
  name: technitium-admin
  namespace: dns
type: Opaque
stringData:
  username: "REPLACE_WITH_USERNAME"
  password: "REPLACE_WITH_SECURE_PASSWORD"
